h1 {
  text-decoration: underline;
}
.estilo-etiqueta-p {
  background-color: greenyellow;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.estilo-etiqueta-divContedor {
  border: black solid 2px;
  padding: 5px;
  margin: 10px;
}

.estilo-img {
  width: 500px;
  height: 380px;
}
